* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {}


main {

    flex-direction: column;
    justify-content: center;
}


.chelsea-fc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 2rem;
    text-align: center;
    display: none;
}

.score {
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
    font-size: 2rem;
    align-content: center;
    padding: 6em;

}

.questionCount {
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
    font-size: 2rem;
    padding-left: 500px;
    align-content: center;
}

.questAnsForm {
    width: 50%;
    display: none;
    margin: 0 auto;
}





.quizStart {
    color: aliceblue;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-image: url("stanford-bridge-chelsea-renovacion.jpg");
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 10000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.chelsea-fc {
    justify-content: center;
    align-content: center;

}

.startButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.questionNumber {
    display: none;
}








#js-next-button {
    padding: 15px;
    font-size: 20px;
}


#checkingSection {
    display: none;
    height: 300px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: white;
    font-size: 24px;
    background: linear-gradient(#550d4a9a, #0b2d58c4);
}



#resultMesg {
    display: block;
    margin-top: 100px;
    margin-bottom: 25px;
}


#totalScoreSection {
    display: none;
    height: 300px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: white;
    font-size: 24px;
    background: linear-gradient(#b345a044, #9198e575);
}



#userScore {
    display: block;
    margin-top: 20px;
}


#js-restart-button {
    padding: 15px;
    font-size: 20px;
}