* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chelsea-fc {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: none;
}



.questAnsForm {
    width: 50%;
    display: none;
    margin: 0 auto;
}





.quizStart {
    align-content: center;
    justify-content: center;
    text-align: center;
    background-image: url("stanford-bridge-chelsea-renovacion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100vh;
    position: relative;
}

.chelsea-fc {
    justify-content: center;
    align-content: center;

}

.questionNumber {
    display: none;
}




.incorrect {
    background-color: lightcoral;
}



#js-next-button {
    padding: 15px;
    font-size: 20px;
}


#checkingSection {
    display: none;
    height: 300px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: white;
    font-size: 24px;
    background: linear-gradient(#550d4a9a, #0b2d58c4);
}



#resultMesg {
    display: block;
    margin-top: 100px;
    margin-bottom: 25px;
}


#totalScoreSection {
    display: none;
    height: 300px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: white;
    font-size: 24px;
    background: linear-gradient(#b345a044, #9198e575);
}



#userScore {
    display: block;
    margin-top: 20px;
}


#js-restart-button {
    padding: 15px;
    font-size: 20px;
}